* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;

}
a{
    text-decoration: none;
}

/* main--navbar__container */
#main--navbar__container {
    /* border: 1px solid gray; */
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
     left: 0;
     z-index: 100;
    background-color: white;
}

/* navbar styling */
.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

/* logo & text part  */
#logo-rm__name {
    display: flex;
    justify-content: space-around;
    width: 15%;
    color: rgb(109, 109, 109);
    font-size: 16px;
}

#rm__logo {
    width: 25%;
}

#rm__logo>img {
    width: 100%;
}

#logo-rm__name>h2 {
    margin-top: 7px;
}

/* Select city part  */
#navbar__city__button {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}

/* Search box  */
#search__box {
    border: 1px solid gray;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
    border-radius: 10px;
    background-color: rgb(250, 240, 240);
}

#search-bar__input-box {
    height: 20px;
    border: none;
    border: 0px solid;
    width: 100%;
    background-color: rgb(250, 240, 240);
}

#search-bar__input-box {
    outline: none;
}

#search-bar__input-box::placeholder {
    font: 17px/3 sans-serif;
}

/* Cart button section */
#navbar__cart__button {
    /* border: 2px solid blue; */
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Login & signup button */

#login-signup__button {
    /* border: 2px solid rebeccapurple; */
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #DC3226;
    color: white;
    font-size: 15px;
    border: 1px solid #DC3226;
}

#login-signup__button:hover {
    background-color: white;
    color: #DC3226;
    cursor: pointer;
}

/* Creating the city model box */
.rm-city-select__background {

    border: 2px solid gray;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;
    

}

.model_active{
    visibility: visible;
    opacity: 1;
    /* display: none; */

}

.city-selector__model-content {
    position: relative;
    width: 80%;
    background-color: white;
    padding: 50px;
}

#city__search-box {
    width: 99.70%;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
}

#city__search-box>input {
    width: 95%;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    outline: none;
    border: none;

}

#city__name__boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 28px;
    margin: auto;

}

#city__name__boxes>div {

    height: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
}

#city__name__boxes>div:hover {
    border: none;
    border: 1px solid #DC3226;

}

#close-city-selector-model {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;

}

#close-city-selector-model:hover {
    border: 1px solid red;
    border-radius: 50%;
    color: #DC3226;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Category Navbar  */
.categoryNavbar_container{
    width: 100%;
    /* border: 1px solid red; */
    position: fixed;
    background-color: rgb(250,250,250);
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    

}
.categoryNavbar{
    width: 90%;
    height: 50px;
    /* border: 1px solid blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_packege{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryNabvar_div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#packege{
    color: gray;
}
.categoryNavbar_container a{
    text-decoration: none;
}
.categoryNavbar_container span{
    color: rgb(183, 183, 183);
    font-size: 14px;
    font-weight: 0;
}
#arrow_icon_right{
    font-size: 10px;
}

/* Data showing on category window  */
.container_item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    
}
.container_item > div{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all ease-out 0.5;
}
.container_item > div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease-in-out;
    
    gap: 20px ;
    padding: 10px;
}

.container_item img{
    width: 100%;
}
.container_item h3{
    font-size: 16px;
    color: rgb(72, 72, 72);

}
.container_item > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.container_item > div > div > div:nth-child(1){
    font-size: 18px;

}
.container_item > div > div > div:nth-child(2)> button{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: rgb(220,50,38);
    background-color: white;
    border: 1px solid  rgb(220,50,38);;

}
.container_item > div > div > div:nth-child(2)> button:hover{

    border: none;
    border-radius: 8px;
    background-color: rgb(220,50,38);
    color: white;
    }
    



/* Footer section  */
.footer_div {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 20px 0 20px;
    margin-top: 60px;
    background-color: rgb(245, 247, 250);
}

.instruction {
    width: 90%;
    margin: auto;
}

.instruction h1 {
    font-size: 15px;
    color: rgb(126, 126, 126);
    margin-top: 20px;
}

.instruction p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    color: rgb(189, 190, 192);
}

.instruction span {
    font-size: 13px;
}

.instruction li {
    font-size: 13px;
    margin-bottom: 10px;
    color: rgb(189, 190, 192);
}

#readmorebtn {
    border: none;
    background-color: rgb(245, 247, 250);
    color: rgb(189, 190, 192);
}

#readmorebtn>i {
    color: rgb(126, 126, 126);
}

/* footer detail info section */

.detail_info {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.detail_info h2 {
    font-size: 15px;
    color: rgb(126, 126, 126);
    margin-bottom: 20px;
}

.detail_info li {
    margin-bottom: 20px;
    color: rgb(189, 190, 192);
}

.detail_info>div {
    /* border: 1px solid red; */
    padding: 30px;
}

#needhelp button {
    height: 40px;
    width: 70%;
    margin-bottom: 20px;
}

#needhelp p {
    margin-bottom: 20px;
}

.google-apple_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
}

.google-apple_img>div:nth-child(2) {
    margin-top: 5px;
}

#google {
    width: 100%;
    height: 37px;

}

#apple {
    width: 90%;
    display: flex;

}

.detail_info a {
    color: rgb(189, 190, 192);
    font-weight: 100;
}

.detail_info ul {
    list-style-type: none;
}

/* social media part in Footer section  */

.social_media {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
    margin-top: 20px;
    height: 50px;
    align-items: center;
    color: gray;
}

#icons {
    position: absolute;
    width: 30%;
    display: flex;
    justify-content: space-around;
    left: 38%;
}

#icons a {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}



